<style>
    /*학점*/
    .grade-best {
        background-color: #8AC054;
    }
    .grade-soso {
        background-color: #9ED36A;
    }
    .grade-bad {
        background-color: #B4E080;
    }
    /*편안함*/
    .comforty-best {
        background-color: #E8563F;
    }
    .comforty-soso {
        background-color: #FB6D51;
    }
    .comforty-bad {
        background-color: #FC8370;
    }
    /*강의력*/
    .study-best {
        background-color: #4B89DA;
    }
    .study-soso {
        background-color: #5e9cea;
    }
    .study-bad {
        background-color: #73b1f4;
    }
 
</style>


<div class="progress" style="width:400px; height:30px;">
      <div class="progress-bar grade-bad" role="progressbar" style="width:20%; font-size:15px;">
        학점폭격
      </div>
      <div class="progress-bar grade-soso" role="progressbar" style="width:70%; font-size:15px">
        원칙대로
      </div>
      <div class="progress-bar grade-best" role="progressbar" style="width:10%; font-size:15px">
        학점느님
      </div>
</div>

<div class="progress" style="width:400px; height:30px">
      <div class="progress-bar comforty-bad" role="progressbar" style="width:20%; font-size:15px">
        개피곤
      </div>
      <div class="progress-bar comforty-soso" role="progressbar" style="width:70%; font-size:15px">
        버틸만함
      </div>
      <div class="progress-bar comforty-best" role="progressbar" style="width:10%; font-size:15px">
        편해요
      </div>
</div>

<div class="progress" style="width:400px; height:30px">
      <div class="progress-bar study-bad" role="progressbar" style="width:25%; font-size:15px">
        쓰레기
      </div>
      <div class="progress-bar study-soso" role="progressbar" style="width:50%; font-size:15px">
        평타강의
      </div>
      <div class="progress-bar study-best" role="progressbar" style="width:25%; font-size:15px">
        인생강의
      </div>
</div>