<!--검색 페이지-->

    <form action="/main/result_lecture" method="get">
      <div id="search-pane_pc" class="input-group input-group-lg">
          <input id="searchPane1_pc" type="text" class="form-control" name="title" placeholder="찾으시는 강의명을 입력해주세요">
          <!--작동을 안함 수정요-->
          <input id="searchButton_pc" class="form-control" type="submit" value="" form="searching" style="left: 20px;">
      </div>
    </form>

<script>
    $("#4").css("background-color", "#FFD54F")
    // 4번째 메뉴의 배경색 주는 코드
</script>