<h1>관리자페이지</h1>
<form action="/hoegi105/admin_update_process/<%= @lecture.id %>" method="post">
<div>
    <div class="admin-row">
        <label>강의명</label><input type="text" name="lecturetitle" value="<%= @lecture.lecture_title %>">
    </div>
    <div class="admin-row">
        <label>교수명</label><input type="text" name="professorname" value="<%= @lecture.professor_name %>">
    </div>
    <div class="admin-row">
        <label>과정</label>
            <input type="radio" name="typeoflecture" value="전공기초" required="required">전공기초
            <input type="radio" name="typeoflecture" value="전공필수" required="required">전공필수
            <input type="radio" name="typeoflecture" value="전공선택" required="required">전공선택
    </div>
    <div class="admin-row">
        <label>세부과정</label>
            <input type="radio" name="typeofhospi" value="" required="required">해당사항 없음
            <input type="radio" name="typeofhospi" value="공통경영" required="required">공통경영
            <input type="radio" name="typeofhospi" value="학과경영" required="required">학과경영
            <input type="radio" name="typeofhospi" value="학과선택" required="required">학과선택
    </div>
    <div class="admin-row">
        <label>학과</label>
            <input type="checkbox" name="lecturemajor[]" value="001">관광학과<br>
            <input type="checkbox" name="lecturemajor[]" value="002">문화관광콘텐츠학과<br>
            <input type="checkbox" name="lecturemajor[]" value="003">외식경영학과<br>
            <input type="checkbox" name="lecturemajor[]" value="004">조리서비스경영학과<br>
            <input type="checkbox" name="lecturemajor[]" value="005">컨벤션경영학과<br>
            <input type="checkbox" name="lecturemajor[]" value="006">호텔경영학과<br>
    </div>
    <div class= "admin-row">
         <button>등록</button>
    </div>
</div>
    