<div>
    <h4>buttons</h4>
    <button class = "btn btn-default">hello</button>
    <button class = "btn btn-primary">hello</button>
    <button class = "btn btn-success">hello</button>
    <button class = "btn btn-info">hello</button>
    <button class = "btn btn-warning">hello</button>
    <button class = "btn btn-danger">hello</button>
</div>
<div>
    <button class = "btn btn-default btn-lg">hello</button>
    <button class = "btn btn-default btn-sm">hello</button>
    <button class = "btn btn-default btn-xs">hello</button>
    <button class = "btn btn-default btn-block">hello</button>
    <button class = "btn btn-default btn-lg">hello</button>
</div>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="container">
  <h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>